/* Main color
..	color: #f6c445; */

/* // Gray Color Shades
//#212529


/* #343a40 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	font-size: 65%;
	color: #212529;
	overflow-x: hidden;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 120px 15px;
}

a {
	color: #f6c445;
	font-size: 1.5rem;
	text-decoration: none;
	padding: 10px;
	/* border-radius: 5px; */
	cursor: pointer;
	/* color: red; */
	transition: all 0.6s;
}

a:hover,
a:active {
	/* color: #191407; */
	border-bottom: 2px solid #f6c445;
}

.grid {
	display: grid;
}
.grid-col-2 {
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 2rem;
}

.main-nav {
	background-color: #343a40;
	background-color: #212529;
	background-color: #191407;
	/* background-color: #fff; */
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
	padding: 0 15px;
	position: fixed;
	width: 100%;
	z-index: 1;
	/* color: */
}
.brand {
	color: #f6c445;
	font-size: 2.5rem;
	transform: scale(150%);
	margin-right: auto;
}
.logo {
	width: 6rem;
	height: 6rem;
}
.main-nav-list {
	/* color: #f6c445; */
	display: flex;
	align-items: center;
	gap: 1.6rem;
	list-style: none;
}

/* 
SECTION HERO */

.section-hero {
	background-color: #f6c445;
	/* background-color: #fadc8f;
	background-color: #c59d37;
	background-color: #f6c445; */
}

.main-heading {
	font-size: 3rem;
}
.my-name {
	background-color: #212529;
	background-color: #191407;
	color: #f6c445;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 2.5rem;
	font-weight: 400;
}

.basit-img {
	/* background-color: #000; */
	max-width: 100%;
}
.basit-img img {
	max-width: inherit;
	transform: scale(250%);
}
